* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: gray;
  font-family: 'Oswald', sans-serif;
  font-weight: 100;
}

.movie .lang {
  width: 25px;
}

.container {
  display: flex;
  flex-direction: column;
}

.movie-list {
  flex-grow: 1;
  padding: 12px;

}

.main-header {
  background: #000;
  height: 80px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 12px;
  font-family: 'Oswald', sans-serif;
}

.logo
{
  height: 60px;
  width: 100px;
  background: url(../img/boolflix.png);
  background-repeat: no-repeat;
  background-position: center;
}

#query-search ,
#btn-search {
  font-size: 14px;
  background: #fff;
  border:0;
  padding: 6px;
  text-transform: uppercase;

}

#btn-search {
  background: red;
  color: #fff;
  cursor: pointer;
  margin-left: 10px;
}

.header-search {
  display: inline-flex;
}

.header-search  #query-search {
  width: 180px;
  background: transparent;
  color: #fff;
  font-size: 18px;
  font-weight: 100;
  border-bottom: 1px solid #fff;
}

.header-search  #query-search:focus {
  width: 280px;
  z-index: 1;
  outline: none;
}

.movie:hover .card {
  display: block;
  animation: toBottom 600ms;
}

@keyframes toBottom {
from {height: 30px;}
to {height:100%;}
}

.movie {
  position: relative;
  margin: 10px 0px;
  cursor: pointer;
}

.movie img.poster {
  border: 1px solid #fff;
}

.card {
  position: absolute;
  top:0;
  z-index: 1;
  list-style: none;
  background: #000;
  height: 100%;
  width: 100%;
  color: #fff;
  padding: 16px 12px;
  display: none;
  border: 1px solid #fff;
}

.fas,
.far {
  color: gold;
}

/* media queries */
@media all and (min-width: 468px) {

  .movie-list {
    flex-grow: 1;
    padding: 12px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
  }

  .header-search  #query-search {
    width: 280px;
    z-index: 1;
    outline: none;
  }
}
